.btn-secondary {
  background-color: #076470 !important;
}

.weather {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.weather h1 {
  font-size: 32px;
  line-height: 30px;
  margin: 20px 0 5px;
}
.weather p {
  font-size: 18px;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}
.weather img {
  position: relative;
  top: -15px;
}
.weather .temperature-today {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
}
.weather .temperature-today-unit {
  position: relative;
  top: -30px;
}

.App-footer p,
a {
  font-size: 14px;
}
.App-footer a {
  color: #076470;
  text-decoration: none;
}
.App-footer a:hover {
  font-weight: 700;
  color: #076470;
}
